<div class="container">
	<h1>ACTIVE DIVISIONS IN HELL™</h1>

	<ul>
		<% @divisions.each do |division| %>
			<li><a href="/divisions/<%= division.id %>"><%= division.name %>®</a></li>
		<% end %>
	</ul>

	<h4><a href="/divisions/new">Create New Division</a></h4>
</div>

<div class="divisions">

</div>