<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |f| %>
    <li><a href="/episodes/<%= f.id %>" ><%= f.date %></a></li>
  <% end %>
</ul>

<p><a href="/episodes/new" class="btn btn-default" >New Episode</a></p>