<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><a href="/episodes/<%= episode.id %>" ><%= episode.date %></a></li>
  <% end %>
</ul>

<p><a href="/episodes/new" class="btn btn-default" >New Episode</a></p>