<h1><%= @episode.title %></h1>
<h2><%= @episode.date %></h2>

<p><%= @episode.description %></p>

<p><a href="/episodes/<%= @episode.id %>/edit">Edit Episode</a></p>
<p><a href="/episodes">Return to All Episodes</a></p>