<h1>Demons</h1>

<ol>
	<% @demons.each do |demon| %>
		<li><a href="/demons/<%= demon.id %>"><%= demon.name %></li>
	<% end %>
</ol>

<p><a href="/demons/new">Invoke a New Demon</a></p>
<p><a href="/">Hell™</a></p>