<div class="container">
<h1>DEMONS</h1>

	<ul>
		<% @demons.each do |demon| %>
			<li><a href="/demons/<%= demon.id %>"><%= demon.name %></li>
		<% end %>
	</ul>
	<h4><a href="/demons/new">Invoke a New Demon</a></h4>
</div>

<div class="demons">
	
</div>