<% if @demon.errors.any? %>
	<% @demon.errors.full_messages.each do |m| %>
		<p>Error: <%= m %></p>
	<% end %>
<% end %>

<h1>New Demon</h1>


<form action="/demons" method="post">
 <h3>Name: <span class="label label-default"></h3><input type="text" name="name" class="form-control"></br>

  <h3>Title: <span class="label label-default"></h3><input type="text", name="title" class="form-control"></br>
  <h3>Division: <span class="label label-default"></h3>
   <select name="division_id" class="form-control">
     <option>No Division</option>
     <% @divisions.each do |division| %>
       <option value="<%= division.id %>">
         <%= division.name %>
       </option>
     <% end %>
   </select>
  <input type="submit" value="Create Demon" class="btn btn-primary">
</form>

<p><a href="/">Hell™</a></p>