<div class="home">
	<h1>WELCOME TO HELL™!</h1>

	<h4 class="text-center">
		<a href="/demons">Say hi to our Demons!</a>&nbsp;&nbsp;&nbsp;&nbsp; 
		<a href="/souls">Recognize anyone? See all of our Souls!</a>&nbsp;&nbsp;&nbsp;&nbsp; 
		<a href="/divisions">Check out our Divisions!</a>&nbsp;&nbsp;&nbsp;&nbsp; 
	</h4>

	<h3>People are dying to work for us! Find out <a href="/souls/new">how</a>.</h3>
</div>

